.App {
    max-width: 850px;
    margin: auto;
    background-color: transparent;
}
.ant-layout {
    background-color: transparent !important;
}

.App hr {
    width: 100%;
    border-color: #3d405b;
    /* border: 1px #3d405b solid; */
}
