.Headers {
    background-color: transparent;

    margin: 25px;
    color: #3d405b;
}
.Headers img {
    width: 120px;
    border-radius: 50%;
}

.Headers h1 {
    font-size: 50px;
    margin-bottom: 0;
}

.Headers .social {
    direction: ltr;
    font-size: 18px;
    margin: 15px;
    color: #3d405b;
}
