.Headers {
    background-color: transparent;

    margin: 25px;
    color: #3d405b;
}
.Headers img {
    width: 120px;
    border-radius: 50%;
}

.Headers h1 {
    font-size: 50px;
    margin-bottom: 0;
}

.Headers .social {
    font-size: 18px;
    margin: 0px;
    margin-bottom: 0;
}
.Headers .social a {
    font-size: 18px;
    margin: 15px;
    margin-bottom: 0;
    text-decoration: none;
    color: #3d405b;
}
.Headers .social a:hover {
    color: #e07a5f;
}
