.Education .ant-descriptions-item-label {
    -ms-flex: auto;
    flex: auto;
    overflow: hidden;
    color: rgba(0, 0, 0, 0.85);
    font-weight: bold;
    font-size: 14px;
    line-height: 1.5715;
    white-space: nowrap;
    text-overflow: ellipsis;
}
